body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body .wrapper {
  background-color: #b0b5bd;
}
body .wrapper .container {
  padding: 3.2rem 3.2rem 0 3.2rem;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 98.6rem;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 16px;
  -ms-text-size-adjust: 16px;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

.main__text {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.main__text .text__title {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
}
.main__text .text__subtitle {
  color: #585050;
}

.footer__text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transform: translateY(-5rem);
}
.footer__text a {
  text-decoration: underline;
  color: #205eb0;
}

.button__input {
  display: flex;
  gap: 1.6rem;
}
.button__input .button {
  font-family: 'Ubuntu', sans-serif;
  padding: 4px 8px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.button__input .button--submit {
  color: #f8f8f8;
  background-color: #2a75db;
}
.button__input .button--submit:hover {
  color: #ebebeb;
  background-color: #205eb0;
}
.button__input .button--submit:focus {
  outline: 1px solid #aac9f1;
}
.button__input .button--submit:active {
  background-color: #1c529a;
}
.button__input .button--reset {
  color: #205eb0;
  background-color: #f8f8f8;
}
.button__input .button--reset:hover {
  color: #1c529a;
  background-color: #dfdada;
}
.button__input .button--reset:focus {
  outline: 1px solid #2a75db;
}
.button__input .button--reset:active {
  background-color: #d3cccc;
}

select {
  min-width: 19.6rem;
  min-height: 3.2rem;
  padding: 8px;
  color: #0b0a0a;
  background-color: #dfdada;
  border: 1px solid #887c7c;
  border-radius: 6px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  flex-direction: column;
}
select:hover {
  background-color: #cac1c1;
}
select:focus {
  outline: 1px solid #2a75db;
}

.custom-selector {
  position: relative;
  z-index: 1;
}
.custom-selector::after {
  content: url('../image/VectorArrowDown.svg');
  display: inline-block;
  position: absolute;
  z-index: 10;
  right: 14px;
}
.custom-selector:hover::after {
  content: url('../image/VectorArrow.svg');
  transform: rotate(180deg) translateY(-2.7px);
}

.main .main__form {
  max-width: 32rem;
  max-height: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}
.main .main__form input[type='text'],
.main .main__form #size {
  min-width: 19.6rem;
  min-height: 3.2rem;
  padding: 8px;
  color: #0b0a0a;
  background-color: #dfdada;
  border: 1px solid #887c7c;
  border-radius: 6px;
}
.main .main__form input[type='text']:hover,
.main .main__form #size:hover {
  background-color: #cac1c1;
}
.main .main__form input[type='text']:focus,
.main .main__form #size:focus {
  outline: 1px solid #2a75db;
}
.main .main__form input[type='number'] {
  max-width: 4.9rem !important;
  min-height: 3.2rem;
  padding: 8px;
  color: #0b0a0a;
  background-color: #dfdada;
  border: 1px solid #887c7c;
  border-radius: 6px;
}
.main .main__form input[type='number']:hover {
  background-color: #cac1c1;
}
.main .main__form input[type='number']:focus {
  outline: 1px solid #2a75db;
}
.main .main__form label {
  color: #585050;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__form .form__label--number {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.main .main__form .form__label--number::before {
  content: '12 digits';
  font-size: 1.1rem;
  color: #887c7c;
  position: absolute;
  bottom: -1.9rem;
}
.main .main__form .theme {
  z-index: 1;
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main .main__form .theme .theme__box {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 1.4rem;
}
.main .main__form .theme .theme__box .theme__input {
  display: flex;
  align-items: center;
  gap: 7px;
}
.main .main__form .theme .theme__box .theme__input input[type='radio'] {
  position: absolute;
  opacity: 0;
}
.main .main__form .theme .theme__box .theme__input input[type='radio'] + label {
  cursor: pointer;
}
.main
  .main__form
  .theme
  .theme__box
  .theme__input
  input[type='radio']
  + label:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #585050;
  border-radius: 100%;
  position: relative;
  margin-right: 7px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.main
  .main__form
  .theme
  .theme__box
  .theme__input
  input[type='radio']:checked
  + label:before {
  background-color: #2a75db;
  box-shadow: inset 0 0 0 2.5px #f8f8f8;
}
.main
  .main__form
  .theme
  .theme__box
  .theme__input
  input[type='radio']:focus
  + label:before {
  outline: none;
  border-color: #2a75db;
}
.main
  .main__form
  .theme
  .theme__box
  .theme__input
  input[type='radio']
  + label:empty:before {
  margin-right: 0;
}

.footer {
  transform: translateY(2.5rem);
}
