.main {
  .main__form {
    max-width: 32rem;
    max-height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.4rem;
    input[type='text'] {
      min-width: 19.6rem;
      @include input;
    }
    input[type='number'] {
      max-width: 4.9rem !important;
      @include input;
    }
    label {
      color: $color-brown;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .form__label--number {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      &::before {
        content: '12 digits';
        font-size: 1.1rem;
        color: $color-brown-light;
        position: absolute;
        bottom: -1.9rem;
      }
    }
    select {
      min-width: 19.6rem;
      @include input;
      cursor: pointer;
      //   -webkit-appearance: none;
      //   -moz-appearance: none;
      //   appearance: none;
    }
    .theme {
      margin-top: 4rem;
      display: flex;
      align-items: flex-start;
      justify-content: start;
      gap: 8rem;
      .theme__box {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        gap: 1.8rem;
        .theme__input {
          display: flex;
          align-items: center;
          gap: 7px;
        }
      }
    }
  }
}
