@mixin respond($breakpoint) {
  //600px
  @if ($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  //900px
  @if ($breakpoint == tablet) {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  //1200px
  @if ($breakpoint == tablet-land) {
    @media only screen and(max-width: 75em) {
      @content;
    }
  }
}

@mixin input {
  
  min-height: 3.2rem;
  padding: 8px;
  color: $color-text-black;
  background-color: $color-input-brown;
  border: 1px solid $color-brown-light;
  border-radius: 6px;
  &:hover {
    background-color: darken($color: $color-button-gray, $amount: 9)
  }
  &:focus {
    outline: 1px solid $color-button-blue;
  }
}
