//color
$color-black: black;
$color-white: #F8F8F8;
$color-button-blue: #2a75db;
$color-button-blue-hover: #205EB0;
$color-button-gray: #DFDADA;
$color-button-blue-dark: #B9D5FC;
$color-button-blue-dark-hover: #AAC9F1;

$color-body-light: #B0B5BD;
$color-body-dark: #0C0D0D;
$color-background-light: #F8F8F8;
$color-background-dark: #1E1D1D;
